
body{
  margin:0px;
 

}



.top-container {
  margin:0px;
  height: 100vh;
  width: 100%;
  background-image: url(/images/brightskyline.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.name-plate{
  height: 20vh;
}

.name-plate img{
  height: 45vh ;
  width: 45vh ;
  position: relative;
  top:-10vh;
  left: -8vh;
}

.info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 8.8vh;
  margin-left: 0;
  margin-right: 0;
  

}
.discover{
  overflow: auto;
  height: 50vh;
  width: 85vh;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 3.5vh;
    border: rgb(64, 70, 77) solid 1px;
    border-width: 50%;
    color:rgb(255, 255, 255);
    font-weight:500;
    background: #05050569;
    border-radius: 5px;
    /* text-shadow: 0px 0px 6px rgb(4, 33, 161); */
}

.scroll{
  display: flex;
  box-sizing: border-box;
  padding-top: 100px;
  width: 300px;
  height: 75px;
  padding: 21.2px;  
  border: 5px solid white;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin: auto;
  margin-top: 10px;
  background-color: rgba(167, 172, 168, 0.212);
  font-size: 22px;
  color: #f2f2f2;
  text-decoration: none;
}

/* All about the button */




.more-info{
  height: 100vh;
  background-image: url(/images/nightnyc.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}
.quote-pic{
  margin-right: 10%;
  margin-left: 10%;
  margin: auto;
  display: flex;
}
.quote{
  margin: auto;
  margin-right: 3.5%;
  display: flex;
  width: 100vh;
  font-size: 1.8vh;

}

.pic-container{
  width: 20vh;
  height: 20vh;
  margin-right:10vh;
}
.pic-container img{
  width: 20vh;
  height: 25vh;
  margin-top: 50%;
  border-radius: 50%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);}






  @import url(https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700);



  .services-header {
    text-align: center;
    font-size: 4vh;
  }

    .services-header h4{
      font-family: 'Work Sans', sans-serif;


    }

  
/* Diagnol Boxes*/
.container{
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  /* grid-template-rows: auto; */

  grid-gap: 0 65px;
}
.container .box{
  height: 44vh;
  background: #0e1220;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
}

.container .box:nth-child(2){
margin-top: 50px;
}

.container .box:nth-child(3){
  margin-top: 100px;
}
  



.content{
  position: relative;
  padding: 20px;
}
.box .content h2{
  position: absolute;
  top: -60px;
  right: 20px;
  padding: 0;
  font-size: 10em;
  color: rgba(255, 255, 255, .05);
  transition: 0.5s;
}
.box:hover .content h2{
  top: -140px;
}
.box .content h3{
  margin: 0 0 10px;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.box .content p{
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 2.3vh;
}
.box .content a  {
  position: relative;
  margin: 20px 0 0;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid #fff;
  display: inline-block;
  color: #fff;
  transition: 0.5s;
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
}
.box:hover .content a{
  transform: translateY(0);
  opacity: 1;
  visibility: visible; 
}
.box .content a:hover{
  color: #000;
  background: #fff;
}







/* Footer */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{

  height: 15vh;
	background: rgba(33, 68, 143, 0.945);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
  /* padding: 55px 50px; */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
  margin-top: 5vh;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
  margin-top: 5vh;

}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */



@media (max-width: 700px) {
  .top-container{
    background-image:url(/images/nycslantedphone.jpg);
  }
  .name-plate img{
    height: 45vh;
    width: 45vh;
    position: relative;
    top: -11vh;
    left: 5vh;
}

  
  .discover{
    width: 50vh;
    height: 35vh;
    font-size: 2.5vh;
    justify-content: center;
    align-content: center;
    border: rgb(160, 160, 160) solid 1px;
    border-width: 50%;
    color: rgb(255, 255, 255);
    font-weight: 500;
    background: #05050594;
    border-radius: 5px;
  }
  .scroll{
    width: 40vh;
    margin-top: 0px;
    border-radius: 6px;

  }
  .container{
    display: flex;
    flex-flow: column;
    width: 45vh;
    height: 20vh;

  }
.quote{
  width: 65vh;
  height: 10vh;
  margin: 0px;
  
}

.pic-container img{
  width: 15vh;
  height: 17vh;
  margin-top: 20%;

}
.pic-container {

  margin-right: 0px;
}

.container .box:nth-child(2){
  margin-top: 10px;
  }
  
  .container .box:nth-child(3){
    margin-top: 10px;
  }
    
.more-info{
height: 150vh;
margin-top: -19.5px;
}

.footer-center{
  width: 66%!important;
margin-top: 0%!important;
font-size: 16px;

}
.footer-center div{
  height:45%;
}
.footer-right{
  width: 30%!important;
  margin-top: 0%!important;
  margin-left: 3%;
}

.footer-left{
  width:0% !important;
}
.footer-left img{
display: none;
}
.footer-distributed .footer-center i {
	/* background: rgba(33, 68, 143, 0.945); */
  /* color: #ffffff;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 34px;
  margin: 10px 15px;
  vertical-align: middle; */
}

.footer-distributed .footer-icons a {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 10px;
  font-size: 28px;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.footer-distributed{
  font: bold 14px sans-serif;
  flex-flow: row;
  display: flex;
}


}
